.container{
    height: 100vh;   
    background-color: rgba(0, 0, 0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container::before {
    content: '';
    background: url('../images/registration.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: var(--accent);
    padding: 3em;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form{
    display: flex;
    row-gap: 1.2em;
    flex-direction: column;
    width: 100%;
    margin-top: 3em;
}

.form-input{
    width: 100%;
}

.input-block{
    display: flex;
    justify-content: space-between;
    column-gap: 1.2em;
}

.form-input input{
    font-size: 1rem;
    padding: 1em 1em;
    border-radius: 12px;
    outline: none;
    border: none;
    width: 100%;
    border: 1px solid var(--accent);
    transition: all .2s ease-in-out;
}

.form-input input:focus{
    border: 1px solid var(--primary);
}

.input-btn{
    margin-top: .5em;
    display: flex;
    align-items: center;
    column-gap: 1.5em;
}

.input-btn a{
    color: var(--primary);
}

.register-btn{
    background-color: var(--primary);
    color: var(--accent);
}

.signup-btn{
    border: 1px solid var(--primary);
}

.register-btn:hover{
    background-color: var(--primary);
    opacity: .9;
}

.input-btn .al-registered:hover{
    text-decoration: underline;
}

.heading h2{
    align-items: start;
    color: var(--primary);
    text-align: left;
    row-gap: .1em;
}

.heading h2 span{
    opacity: .7;
}

.register-heading{
    justify-content: start;
    position: relative;
}

.register-heading::after{
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 8%;
    height: 3px;
    background-color: var(--primary);
    border-radius: 10px;
    opacity: .9;
}
